<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HELP LAB </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="row">
        
                    <div class="col-sm-1"><img class="img-responsive" src="/Content/Images/logo.PNG"></div>
                    <div class="col-sm-8"><div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="padding-bottom:-10px;">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Team", "Index", "TeamMember")</li>
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Publications", "Index", "Publications")</li>
                        <li>@Html.ActionLink("Opportunities", "Index", "Opportunities")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
          </div>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center"><a href="http://wsu.edu" target="_blank"><img style="display:block; margin-left:auto; margin-right:auto;" class="img-responsive" src="/Content/Images/wsu.png" /></a> <br /><a href="https://school.eecs.wsu.edu/" target="_blank">School of Electrical Engineering and Computer Science <br /></a> &copy; @DateTime.Now.Year - Human-Centered Environments for Learning and Programming Lab <br /> @Html.ActionLink("Contact Us", "Contact", "Home") </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
